# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_TIMEZONE=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Shopify
SHOPIFY_STORE_DOMAIN=
SHOPIFY_ADMIN_API_TOKEN=
SHOPIFY_STOREFRONT_TOKEN=
SHOPIFY_WEBHOOK_SECRET=

# App
APP_ENV=development
PORT=3000
